<div class="fixed w-96 h-96 bg-secondary rounded-full -bottom-48 -right-36"></div>
<app-back route="/" />

<hgroup class="py-16">
  <h1 class="text-center font-black text-4xl text-white">Iniciar sesión</h1>
</hgroup>

<figure class="w-full h-52 mb-4">
  <img src="/logo.svg" alt="logo" class="w-1/2 max-w-48 object-contain mx-auto" />
</figure>

<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="w-full flex flex-col text-black items-center gap-10"
>
  <section class="w-8/12 max-w-sm flex flex-col items-center gap-1">
    <input
      type="email"
      placeholder="Correo Electronico"
      class="w-full h-11 rounded-xl px-5 text-lg"
      formControlName="email"
    />

    @if (errorResponse()?.statusCode === 404) {
    <p class="text-red-600 text-xs font-medium">{{ errorResponse()?.message }}</p>
    }
  </section>

  <section class="w-8/12 max-w-sm flex flex-col items-center gap-1 z-0">
    <input
      type="password"
      placeholder="Contraseña"
      class="w-full h-11 rounded-xl px-5 text-lg"
      formControlName="password"
    />

    @if (errorResponse()?.statusCode === 401) {
    <p class="text-red-600 text-xs font-medium">{{ errorResponse()?.message }}</p>
    }
  </section>
  <button
    type="submit"
    class="fixed bottom-0 right-2 disabled:opacity-20"
    [disabled]="!loginForm.valid || loading()"
  >
    <i class="bi bi-arrow-right-short font-extrabold text-7xl"></i>
  </button>
</form>