<div class="fixed w-96 h-96 bg-secondary rounded-full -bottom-48 -right-36"></div>
<app-back route="/" />

<hgroup class="py-16">
  <h1 class="text-center font-black text-4xl text-white">Iniciar sesión</h1>
</hgroup>

<figure class="w-full h-52 mb-4">
  <img src="/logo.svg" alt="logo" class="w-1/2 max-w-48 object-contain mx-auto" />
</figure>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="w-full flex flex-col text-black items-center gap-10"
>
  <input
    type="email"
    placeholder="Correo Electronico"
    class="w-8/12 max-w-sm h-11 rounded-xl px-5 text-lg"
    formControlName="email"
  />
  <input
    type="password"
    placeholder="Contraseña"
    class="w-8/12 max-w-sm h-11 rounded-xl px-5 text-lg z-0"
    formControlName="password"
  />
  <button type="submit" class="fixed bottom-0 right-2 disabled:opacity-20" [disabled]="!loginForm.valid">
    <i class="bi bi-arrow-right-short font-extrabold text-7xl"></i>
  </button>
</form>