<hgroup class="py-16">
  <h1 class="text-center font-black text-4xl text-white">AudioBooks</h1>
</hgroup>

<figure class="w-full h-52 flex justify-center mb-16">
  <img src="/logo.svg" alt="logo" class="w-1/2 max-w-48 object-contain" />
</figure>

<section class="w-full flex flex-col text-black items-center gap-10">
  <a
    routerLink="/register"
    class="rounded-xl py-2 bg-gray-200 w-9/12 max-w-72 text-center text-lg hover:bg-gray-500 hover:text-white transition duration-300 hover:cursor-pointer"
  >Registrarse</a>
  <a
    routerLink="/login"
    class="rounded-xl py-2 bg-gray-200 w-9/12 max-w-72 text-center text-lg hover:bg-gray-500 hover:text-white transition duration-300 hover:cursor-pointer"
  >Iniciar Sesión</a>
</section>